/**
/**
 * Add any css modifications here.
 */
html, body { overflow:hidden;}

.navbar-admin { 
	
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	border:none;
	border-bottom:1px solid #999; 
	border-radius:0px;
	
	}
	.container { 
		margin-left:0px;
		width:100%;
		}
		a.navbar-brand {
			color: rgba(0,0,0,0.6);
			/*color: rgba(255,255,255,.9);*/
    		text-shadow: 1px 1px 3px rgba(255,255,255,0.3);
			}
			a.navbar-brand img {
				margin-right:10px;			}
		
		.container-login {
			height:25px; width:250px;
			position:absolute;
			top:8px; right:10px;
		}
		.navbar-right {
			margin:10px;
			float:left;			
		}

		.navbar-text {
			float:right;
			margin-top:7px;			
			}
			
		.navbar-link { color:#fff; }
		.container .btn { float:right;}

.page-header {
	margin:1px;
}


.panel { 
	margin:20px; 
}
@media (max-width: 767px) {
	.navbar-text {
		margin-right:15px;
	}

}
@media (max-width: 560px) {
	a.navbar-brand img {		
		display:none;
	}

	.container-login { 
		height:42px; top:5px; right:20px; width:auto;  
		padding:4px; background:#eee; border-radius:4px; 
	}
	.navbar-text {
		margin-right:5px;
	}
	.navbar-link { color:#1f5c9f; } 
}