/**
/**
 * Add any css modifications here.
 */
html, body { overflow:hidden;}

.navbar-admin {
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	border:none;
	border-bottom:1px solid #999; 
	border-radius:0px;	
	}
	.container { 
		margin-left:0px;
		width:100%;
		}
		a.navbar-brand {
            position:absolute; top:-14px; left:15px;
            margin-left:0px;
            z-index:200;
			}
        .wrapper_img {
            position:relative; top:4px; left:-10px;
            height:40px; width:50px;
            border-radius:4px;
            background-color:rgba(255,255,255,0.3); }

			a.navbar-brand img {
				backgrouind-color:rgba(0,0,0,0.1);
                transform: scale(0.8,0.8);
                margin-right:10px;
                position:relative; top: -5px;
            }
        .wrapper_hlabel {
            position:absolute;
            top:30px; left:65px; width:230px;
            color: rgba(0,0,0,0.6);
            text-shadow: 1px 1px 3px rgba(255,255,255,0.5);
            }
            .wrapper_hlabel:hover{ text-shadow: 1px 1px 3px rgba(255,255,255,0.7); }
		.container-login {
            width:calc(100% - 10px); position:relative; top:5px; left:5px;
            height:40px;
            padding:4px; background:rgba(255,255,255,0.3); border-radius:4px;
            }
            .wrapper_login {
                margin-top:4px; float:right;
                height:24px; width:230px; max-width:280px;
                background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 37%,rgba(255,255,255,0.3) 38%,rgba(255,255,255,0.3) 100%); /* W3C */
                border-radius:4px;
                font-size:12px; padding-right:10px;
                }
                .login_1 {
                    float:left; margin-left:9px; margin-top:4px;
                }
                div[data-aura-component='displays/user-info'] .user-info {
                    float:left;
                    width:125px;
                    margin-top:4px;
                    margin-left:15px;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    overflow:hidden;
                    color:rgba(0,0,0,0.7); font-weight: bold;
                }

.page-header {
	margin:1px;
}
.panel { 
	margin:20px; 
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left:0px;
	}
}
@media (max-width: 560px) {
    .wrapper_hlabel { left:15px; }
	.wrapper_img, a.navbar-brand img {
		display:none;
	}
}
@media (max-width: 490px) {
    .wrapper_hlabel { top:20px; }
    .wrapper_login {
        background:rgba(255,255,255,0);
        margin-top:14px;
        }
        div[data-aura-component='displays/user-info'] .user-info {
            top:15px;
        }
}