div[data-aura-component='controls/heatmap-toggle'] #heatConfigDialog {
    display: none;
}
div[data-aura-component='controls/heatmap-toggle'] #heatConfigDialog .dialog-dialog {
    width: 400px;
    position: absolute;
    z-index: 2000;
    margin: 0;
}
div[data-aura-component='controls/heatmap-toggle'] #heatConfigDialog .dialog-body {
    padding: 0px 10px 10px 10px;
}
div[data-aura-component='controls/heatmap-toggle'] #heatConfigDialog .dialog-body p{
    margin-top: 5px;
}
div[data-aura-component='controls/heatmap-toggle'] #heatConfigDialog .dialog-body select{
    margin-bottom: 10px;
}

div[data-aura-component='controls/heatmap-toggle'] .multiselect b.caret {
    position: absolute;
    top: 15px;
    right: 10px;
}
