****************/
/* Color Schemes */
/*****************/
.label-navy {
    background-color: #396A92;
}
.label-navy:hover {
    background-color: #848586;
}
.label-red {
    background-color: #D61C1F;
}
.label-red:hover {
    background-color: #86B8B1;
}
.label-forest {
    background-color: #4C9B46;
}
.label-forest:hover {
    background-color: #188266;
}
.label-black {
    background-color: #222;
}
.label-black:hover {
    background-color: #777;
}
/* END Color Schemes */


/*******************/
/* General Styling */
/*******************/
html, body {
    width: 100%;
    height: 100%; /* Setting height is required for loading a map */
    margin: 0;
    padding: 0;
}
.banner {
    height: 16px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: auto;
    background-color: green;
    color: white;
    line-height: 1.2em;
}
body.embed .banner {
    display: none;
}
#mapContainer {
    height: calc(100% - 32px);
    width: 100%;
    position: relative;
    overflow: hidden;
}
body.embed #mapContainer {
    height: 100%;
}
.container-fluid {
    width: 100%;
    position: absolute;
    top: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
}
a {
    outline: 0;
}
.glyphicon, .caret {
    color: #3276b1;
}
.btn-primary .glyphicon{
    color: #fff;
}
.glyphicon:hover, .caret:hover, .btn-default-icon:hover .glyphicon {
    /*color: #848586;*/
}
.btn-default-text {
    background-color: #396A92;
    border-color: #ccc;
    color: #fff;
}
.btn-default-text .glyphicon,
.btn-default-text .caret {
    color: #fff;
}
.btn-default-text:hover {
    color: #fff;
    background-color: #848586;
}
/*.btn-default-text.active {
    color: #fff;
    background-color: #30597B;
}*/
.btn-default-icon {
    background-color: #fff;
    border-color: #396A92;
    color: #396A92;
}
.btn-default-icon:hover {
    background-color: #eee;
    border-color: #57595A;
    color: #848586;
}
.btn-default-icon.active {
    color: #333333;
    background-color: #ccc;
    border-color: #adadad;
}
.btn-default-secondary {
    background-color: #ccc;
    border-color: #eee;
}
.btn-default-inverse {
    background-color: #848586;
    border-color: #eee;
}
.btn-default-inverse .glyphicon,
.btn-default-inverse .caret {
    color: #fff;
}
.auraComponentBtn{
    display: inline;
}

/**********/
/* Header */
/**********/
#header-left-container {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 15px;
}

#header-right-container {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 15px;
}
#header-right-container div:not(.btn-group) {
    display: inline;
    /*margin-left: 5px;*/
    float: left;
}
#header-right-container div:first-child {
    margin-left: 0px;
}

#visual-mode-toggle-container {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#left-side-menu {
    position: absolute;
    z-index: 1030;
    top: 50%;
    margin-top: -150px;
    left: -50px;
    padding: 10px 12px 10px 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    background-color: rgba(256, 256, 256, 0.8);
    border-color: transparent;
    /*-webkit-box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.2);*/
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 2s; /* For Safari 3.1 to 6.0 */
    transition: left .5s;
}

#left-side-menu.active {
    left: 0px;
}
#left-side-menu .btn {
    border-color: #428bca;
}

#left-side-menu div:not(:first-child):not(:last-child) .btn {
    border-radius: 0px;
    border-top: none;
}
#left-side-menu .menu-button-group div:first-child .btn {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#left-side-menu .menu-button-group div:last-child .btn {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none;
}
#left-side-menu .tab-handle {
    position: absolute;
    right: 3px;
    top: 45%;
    color: #396A92;
}

#feauxcator a {
    padding: 6px 8px;
}

#footer-container {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
    height: 20px;
    font-size: 12px;
    background-color: transparent;
    background-color: rgba(256, 256, 256, 0.6);
    border-color: transparent;
}
#footer-container .col-md-4 {
    padding: 3px 5px;
}
#footer-container .col-md-4 .col-md-4 {
    padding: 0;
}
.footer-left {
    text-align: left;
}
.footer-center {
    text-align: center;
}
.footer-center-left {
    text-align: right;
}
.footer-right {
    text-align: right;
}


#header-right-container .btn:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#header-right-container .btn-group .btn + .btn {
    margin-left: 0;
}
#header-right-container .btn-default-icon.active {
    border-color: #396A92;
}
/* ~Make sure button group buttons don't have doubled thick left/right borders */
#header-right-container .btn-group > .btn:not(:first-of-type):not(:nth-of-type(2)) {
    border-left: 0;
}
#header-right-container .btn-group > .btn:not(:first-of-type):not(:last-of-type) {
    border-left: 0;
}
/* ~end */


/**********************************************************/
/* Bootstro Tour Overrides                                */
/* Style from Bootstro Library...                         */
/* to include modified version without changing lib files */
/**********************************************************/
.bootstro-next-btn
{
    float:right;
}
.bootstro-prev-btn
{
    float:left;
}
.bootstro-backdrop
{
    opacity: 0.5;
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    filter: alpha(opacity = 50);
}
.bootstro-highlight
{
    z-index: 9999;
    position: relative;
}

.bootstro-finish-btn-wrapper
{
    padding-top:10px;
    text-align:center;
    clear:both;
}
.bootstro-nav-wrapper
{
    margin-top:10px;
}
.bootstro-nav-wrapper button, .bootstro-finish-btn-wrapper button
{
    font-size:12px !important;
    padding : 3px 5px 3px 5px !important;
    font-weight:bold;
}
/* END Bootstro CSS 

