<a href="#" id="dataGridToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Data Grid">
    <span class="glyphicon glyphicon-th-list"></span>
</a>