<a href="#" id="userSettingsToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="bottom" data-title="User Settings">
    <span class="glyphicon glyphicon-cog"></span>
</a>