 <div class="panel panel-default">
    <div class="panel-body">
        <h4 class="page-header">Enter Search Criteria</h4>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User ID" id="searchAdmin_userid">
                <input type="text" class="form-control" placeholder="Datasource" id="searchAdmin_datasource">
                <input type="text" class="form-control" placeholder="Query Date" id="searchAdmin_sdate">
                <input type="text" class="form-control" placeholder="Expiration Date" id="searchAdmin_edate">
            </div>
            <button type="submit" class="btn btn-primary" id="searchAdmin_submit">Submit</button>
        </form>
    </div>
</div>