div[data-aura-component='tools/search'] .navbar-form { 
	padding-top:0px; padding-left:0px; padding-right:0px;


}

div[data-aura-component='tools/search'] .form-control {	
	margin-bottom:5px;
	color:#555;
	}
	div[data-aura-component='tools/search'] input[type="text"].form-control {
		background-color: rgba(238,238,238,0.5);
	}
	div[data-aura-component='tools/search'] #searchAdmin_datasource, div[data-aura-component='tools/search'] #searchAdmin_sdate, 
	div[data-aura-component='tools/search'] #searchAdmin_edate { display:none; }
	div[data-aura-component='tools/search'] select:focus, div[data-aura-component='tools/search'] input[type="text"]:focus {
		background-color: rgba(255,255,255,1);
		color:#000;
	}

div[data-aura-component='tools/search'] .btn { margin-top:-3px;}

@media (max-width: 767px) {
	div[data-aura-component='tools/search']  .navbar-form {
		padding:0px; margin-left:0px; margin-right:0px;
		box-shadow: none;

	}
	div[data-aura-component='tools/search']  .form-group {
		display:inline-block;
		margin-bottom:0px;
		vertical-align: middle;
	}
	div[data-aura-component='tools/search'] .form-control {
		display:inline-block;
		width:auto;
		vertical-align:middle;
	}
}
@media (max-width: 560px) {
	div[data-aura-component='tools/search'] .form-group {		
		width:100%;		
	}
	div[data-aura-component='tools/search'] .form-control {		
		width:100%;
	}
	div[data-aura-component='tools/search'] .btn {
		margin-top:1px;
	}
}

div[data-aura-component='tools/search'] #container-searchmsg {
	display:none;
	float:left;
	height:auto; width:auto;
	position:absolute; top:76px; right:36px;
	white-space: nowrap;
	}
	div[data-aura-component='tools/search'] .alert {
		padding:7px;
	}



div[data-aura-component='tools/search'] .form-control.warning:-moz-placeholder { /* Firefox 18- */
   color: red;  
}
div[data-aura-component='tools/search'] .form-control.warning::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}
div[data-aura-component='tools/search'] .form-control.warning::-webkit-input-placeholder {  /* chrome */
   color: red;  
}