 <div class="panel panel-default">
    <div class="panel-body">
        <h4 class="page-header">Enter Search Criteria</h4>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User ID">
                <input type="text" class="form-control" placeholder="Datasource">
                <input type="text" class="form-control" placeholder="Query Date">
                <input type="text" class="form-control" placeholder="Expiration Date">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>