div[data-aura-component="displays/admingrid"] #admingridContainer {
	display:none;
}

div[data-aura-component='displays/admingrid'] #admingridContainer {
	margin:20px;


}

div[data-aura-component='displays/admingrid'] #header {
    background-color: #F5F5F5;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: center;
    width: 100%;
    height: 42px;
    padding-top: 4px;
}

div[data-aura-component='displays/admingrid'] .close {
    margin: 10px;
}

div[data-aura-component='displays/datagrid'] #admingrid {
    height:100px; width:100%; 
    border:1px solid red; border-radius:4px;
}

div[data-aura-component='displays/datagrid'] .slick-header-column {
    box-sizing: content-box; /** Keeps column re-sizing the same for headers/rows **/
    background: #f0f0f0;
    color: black;
    height: 18px;
}

div[data-aura-component='displays/datagrid'] .slick-header-column:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}

div[data-aura-component='displays/datagrid'] .slick-cell.selected {
    background-color: #D4F7FF;
}
