<a href="#" id="timelineToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Timeline">
    <span class="glyphicon glyphicon-unchecked"></span>
</a>