<a href="#" id="export-picker-toggle" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Export Options">
    <span class="glyphicon glyphicon-export"></span>
</a>