<a href="#" id="userSettings" type="button" class="btn btn-default bs-tooltip">
    <span class="glyphicon glyphicon-user"></span> {{name}} ({{username}})
    <span class="caret"></span>
</a>
<div id="userSettingsDialog" class="dialog fade"></div>