<a href="#" id="userSettings" type="button" class="btn btn-default" data-title="User Settings" data-placement="bottom">
    <span class="glyphicon glyphicon-user"></span> {{name}} ({{username}})
    <span class="caret"></span>
</a>
<div id="userSettingsDialog" class="dialog fade"></div>