<div id="visual-mode-toggle-container" class="btn-group">
	<button id="cluster-toggle-btn" data-visual-mode="cluster" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-title="Cluster View" data-placement="bottom">
		<span class="glyphicon glyphicon-record"></span>
	</button>
	<button id="feature-toggle-btn" data-visual-mode="feature" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-title="Feature View" data-placement="bottom">
		<span class="glyphicon glyphicon-map-marker"></span>
	</button>
	<button id="heatmap-toggle-btn" data-visual-mode="heatmap" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-title="Heatmap View" data-placement="bottom">
		<span class="glyphicon glyphicon-fire"></span>
	</button>
</div>