<a href="#" id="dataHistoryToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Data History">
    <span class="glyphicon glyphicon-header"></span>
</a>