div[data-aura-component='displays/mouse-position'] .container {
    position: relative;
    float: left;
    z-index: 990;
    /*top: 10px;
    left: 10px;*/
    width:auto;
    margin-left: 5px;
}

div[data-aura-component='displays/mouse-position'] #coordinates {
    padding: 6px 10px;
    color: #fff;
    background-color: #383838;
    pointer-events: none;    
    opacity: .8;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 85%
}