<a href="#" id="bookmarkToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Bookmarks">
    <span class="glyphicon glyphicon-book"></span>
</a>