div[data-aura-component='displays/event-counter'] {
	float: right;
	margin-right: 5px;
}
div[data-aura-component='displays/event-counter'] #feature-count .panel {
    margin-bottom: 0;
}
div[data-aura-component='displays/event-counter'] #feature-count {
    padding: 6px 10px;
    color: #fff;
    background-color: #535455;
    border-color: #ccc;
    pointer-events: none;
}
div[data-aura-component='displays/event-counter'] #feature-count .badge {
    background-color: #fff;
    color: #396A92;
}