<a href="#" id="feature-count" type="button" class="btn btn-default">
   <span id="stats-displayed-features" class="badge">0</span>
    <span class="small">of</span>
    <span id="stats-total-features" class="badge">0</span>
    <span class="small">features displayed</span>
</a>