<a href="#" id="supportToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="{{appName}} Help">
    <span class="glyphicon glyphicon-question-sign"></span>
</a>