div[data-aura-component='displays/notifications']  {
    position: absolute;
    z-index: 1100;
    top: 0px;
    right: 0px;
}
div[data-aura-component='displays/notifications'] #toast-container {
    position: absolute;
    z-index: 1000;
    top: 55px;
    right: 15px;
    overflow:hidden;
}
