div[data-aura-component='displays/notifications']  {
	float: right;
	position: relative;
}
div[data-aura-component='displays/notifications'] #toast-container {
    position: relative;
    z-index: 1000;
    top: 45px;
    right: 10px;
}
