<div id="notification-modal" class="modal fade" >
    <div class="modal-dialog" data-backdrop="false">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title text-center ">Notification</h3>
            </div>
            <div class="modal-body">
                <!-- Dynamically filled -->
            </div>
            <div class="modal-footer">
                <button id="notification-modal-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="notification-modal-confirm" type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>