<a href="#" id="internalPubsubTesterToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="bottom" data-title="Internal PubSub Tester">
    <span class="glyphicon glyphicon-random"></span>
</a>