<a href="#" id="basemapGalleryToggleButton" type="button" class="btn btn-default-icon active" data-toggle="tooltip" data-placement="right" data-title="Basemap Gallery">
    <span class="glyphicon glyphicon-globe"></span>
</a>