<a href="#" id="downloadButton" type="button" class="btn btn-default-icon bs-tooltip" data-title="Download CSV" data-placement="bottom">
    <span class="glyphicon glyphicon-download-alt"></span>
</a>