/*div[data-aura-component='controls/download']{*/
    /*pointer-events: all;*/
/*}*/
div[data-aura-component='controls/download'] .stop{
    cursor: not-allowed;
    opacity: 0.65;
}
div[data-aura-component='controls/download'] .wait{
    cursor: wait;
    opacity: 0.65;
}