<a href="#" id="downloadButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Download CSV">
    <span class="glyphicon glyphicon-download-alt"></span>
</a>