.cmapi-extension.info-win-dialog{
    font-size: .8em;
}

.cmapi-extension.info-win-dialog .title{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-left: 30px;
}

.cmapi-extension.info-win-dialog .content{
    position: relative;
    margin-left: 15px;
    width: 500px;
    height: 135px;
}

.cmapi-extension.info-win-dialog .content.short{
    width: 400px;
}

.cmapi-extension.info-win-dialog .imgDiv{
    float: left;
    width: 80px;
    height: auto;
    vertical-align: top;
    text-align: center;
}

.cmapi-extension.info-win-dialog img{
    width: 80px;
    height: 80px;
}

.cmapi-extension.info-win-dialog .tableDiv{
    float: right;
    vertical-align: top;
    margin-left: 15px;
    height: 135px;
    width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid lightgray;
}

.cmapi-extension.info-win-dialog table.table{
    margin-bottom: 0px;
}

.cmapi-extension.info-win-dialog table.table td{
    padding: 5px;
}