<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon" id="csv-field">Something</span>
            <input type="text" class="form-control" placeholder="Text of some sort" aria-describedby="csv-field">
        </div>
    </div>
</div>