<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon">"Something</span>
            <input type="text" id="csv-export-text" class = form-control" placeholder="some textbox">
        </div>
    </div>
</div>