<div id="clear-toggle-container" class="btn-group">
  <button id="clear-toggle" type="button" class="btn btn-default-icon" data-title="Clear Features" data-placement="bottom">
  	<span class="glyphicon glyphicon-trash"></span>
  </button>
</div>