<a href="#"  id="clear-toggle" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="bottom" data-title="Clear All Layers">
	<span class="glyphicon glyphicon-trash"></span>
</a>