<a href="#" id="playback" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="bottom" data-title="Timeline Playback">
	<span class="glyphicon glyphicon-play"></span>
</a>
