body.dialog-open .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  display: none;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-backdrop.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-dialog {
    margin: 5% auto;
    width: 500px;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-footer {
    text-align:center;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal {
    overflow-y: hidden;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body {
    /*max-height: 280px;*/
    height: 300px;
    padding: 10px;
}


div[data-aura-component='tools/bookmark'] #bookmark-modal .finiteHeight {
    height: 280px;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body .data-history-detail-view  span {
    display: block;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body .data-history-detail-view  span.data-actions {
    text-align: center;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body .data-history-detail-view  img {
    padding-bottom: 1em;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body div.data-history-list-container {
    max-height: 245px;
    overflow: auto;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table {
    margin-bottom: 0px;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body p.noDataLabel {
    margin-top: 20px;
    text-align: center;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table th,
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table td {
    border-top: none;
    border-bottom: 1px solid #dddddd;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table .expiration {
    width: 25px;
    text-align: right;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table .data-name {
    width: 160px;
    text-align: left;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:default;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table .data-actions {
    width: 60px;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body table .data-actions button {
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 0.5px;
    padding-left: 5.5px;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body .expiration span.glyphicon-time {
    color: #bd362f;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body textarea.form-control {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    height: 246px;
    max-height: 246px;
    min-height: 246px;
}
div[data-aura-component='tools/bookmark'] #bookmark-modal .modal-body textarea.form-control {
    cursor: default;
}

div[data-aura-component='tools/bookmark'] #bookmark-modal .indent {
    padding-left: 10px;
}