<tr data-bmid="{{bmId}}">
    <td class="expiration">
        {{!-- <span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="left" title="This data expires tomorrow">
        </span> --}}
    </td>
    <td class="data-name" title="{{{name}}}">{{{name}}}</td>
    <td class="data-actions">
        <button type="button" title="JUMPTO? Bookmark" class="btn btn-default-icon data-action-restore" {{#if disableRestore}}disabled{{/if}}>
            <span class="glyphicon glyphicon-map-marker"></span>
        </button>
        <button type="button" class="btn btn-default-icon data-action-edit" title="Edit Bookmark">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
        <button type="button" class="btn btn-default-icon data-action-delete" title="Delete Bookmark">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>