<div class="modal fade" id="bookmark-modal" tabindex="-1" role="dialog" aria-labelledby="bookmark-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Bookmarks</p>
            </div>
            <div class="modal-body">
                <p>List / Grid of saved Bookmarks here.</p>
                <div id="bmgrid"></div>
            </div>
        </div>
    </div>
</div>