<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="support-modal" aria-hidden="true">    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">About Meridian</p>
            </div>
            <div class="modal-body">
                <img class="logo" src="/docs/meridian/images/logos/merid1.2.png">
                <p>Meridian: Version {{version}}</p>
                <p>Release Date: {{releaseDate}}</p>
                <p>Released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" title="Apache License v2.0">Apache License v2.0</a>.</p>
                <p>Forked from the Open Source Project: <a href="http://aurajs.com/"> Aura JS</a>.</p>
                <p>Compatible with CMAPI version: {{cmapiVersion}}</p>
                <div class="support-actions">
                    <button id="ok" type="cancel" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>



