<div class="modal fade" id="support-modal" tabindex="-1" role="dialog" aria-labelledby="support-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Need Support?</p>
            </div>
            <div class="modal-body">
                <p>Have a question, or need to understand how to use the application?  No worries, we are here to help!
                   <br><br>Please click on the "Meridian Docs" button to be directed to our application documentation,
                   or the "Tour App" button to get a guided tour of the application.
                </p>
                <div class="support-actions">
                    <button id="about" class="btn btn-primary">About Meridian</button>
                    <a href="./docs/meridian/index.html" target="_blank" class="btn btn-primary" role="button">Meridian Docs</a>
                    <button id="tour" type="cancel" class="btn btn-primary">Tour App</button>
                </div>
            </div>
        </div>
    </div>
</div>