<a href="#" id="support" type="button" class="btn btn-default-icon" data-title="Support" data-placement="bottom">
    <span class="glyphicon glyphicon-question-sign"></span>
</a>
<div id="SupportDialog" class="dialog fade" >
    <div class="dialog-dialog">
        <div class="dialog-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="dialog" aria-hidden="true">&times;</button>
                <p class="dialog-title">Need Support?</p>
            </div>
            <div class="dialog-body">
                <p>Have a question or need to understand how to use the application?  No worries we are here to help!
                   Please click on the button to directed to our application wiki
                   or the button to get a guided tour of the application.
                </p>
                <a href="./docs/meridian" target="_blank" class="btn btn-default-text" role="button">Wiki/Docs</a>
                <button id="tour" type="cancel" class="btn btn-default-text">Tour App</button>
            </div>
        </div><!-- /.dialog-content -->
    </div><!-- /.dialog-dialog -->
</div><!-- /.dialog -->
