<div id="upload-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="data-upload-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Upload File</p>
            </div>
            <div class="modal-body">
                <form id="upload-form" class="form-horizontal" role="form">
                    <input id="file" type="file" name="uploadFile" accept="{{#each filetypes}}{{this.extension}},{{/each}}" style="display:none"> <!-- hidden file -->

                    <div class="form-group">
                        <label for="file" class="span-1 col-md-3 control-label">File</label>
                        <div class="col-md-8">
                            <div id="open-file" class="input-group">
                                <input id="dummy-file" type="text" class="input-large form-control" placeholder="Please select a geojson, kml, or csv file">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer text-right">
                <button id="upload-zoom-button" type="button" class="btn btn-default">
                    <input type="checkbox" id="upload-zoom-checkbox" checked> Zoom After Upload
                </button>
                <button id="upload-submit" type="submit" class="btn btn-primary">Upload</button>
                <button id="upload-cancel" type="cancel" class="btn btn-primary">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
