@import url("./bootstrap-3.2.0/readable-theme/bootstrap.css");
@import url("./icomoon/style.css");

body { 
	padding-top: 50px; /*taking into account the fixed nav bar*/
}

.main-banner {
	display: block;
	text-align: center;
	padding-top: 33px; /*modifying jumbotron padding to be smaller*/
	padding-bottom: 33px; /*modifying jumbotron padding to be smaller*/
	background-image: url("../images/meridian-banner.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.error-banner {
	display: block;
	text-align: center;
	background-image: url("../images/meridian-banner.png");
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 75px;
}

.logo {
	height: 210px;
	width: 300px;
}

a.text-primary {
  color: #4582ec;
}

.new-section {
	padding-top: 25px;
}

.footer {
	padding-bottom: 10px;
	background-color: none;
}

.footer p {
	margin-bottom: 0px;
}

