<div class="row">
    <div class="col-md-12 text-center">
        Header text can go here
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="input-group">
            <span class="input-group-addon">Something</span>
            <input data-field="someText" type="text" class="form-control" placeholder="Text of some sort" aria-describedby="csv-field">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="checkbox">
            <label class="checkbox control-label" title="title1">
                <input data-field="checkbox1" id="checkbox1" class="controls" type="checkbox" title="title11">
                CHECKBOX1
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox">
            <label class="checkbox control-label" title="title2">
                <input data-field="checkbox2" id="checkbox2" class="controls" type="checkbox" title="title12">
                CHECKBOX2
            </label>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="checkbox">
            <label class="checkbox control-label" title="title3">
                <input data-field="checkbox3" id="checkbox3" class="controls" type="checkbox" title="title13">
                CHECKBOX3
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox">
            <label class="checkbox span1 control-label" title="title4">
                <input data-field="checkbox4" id="checkbox4" class="controls" type="checkbox" title="title14">
                CHECKBOX4
            </label>
        </div>
    </div>
</div>