<a href="#" id="dataUploadToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Upload Data">
    <span class="glyphicon glyphicon-open"></span>
</a>