<div class="submenu-button-group">
    <a href="#" id="queryType_square" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Query Tool - Square">
        <span class="glyphicon glyphicon-screenshot"></span>
    </a>
    <a href="#" id="queryType_circle" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Query Tool - Circle">
        <span class="glyphicon glyphicon-screenshot"></span>
    </a>
    <a href="#" id="queryType_polygon" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Query Tool - Polygon">
        <span class="glyphicon glyphicon-screenshot"></span>
    </a>
</div>