<br>
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">Filename</span>
            <input data-field="fileName" data-default="results.geojson" type="text" class="form-control" placeholder="Filename">
        </div>
    </div>
</div>