<ul id="snapshot-{{layerId}}-settings-menu" class="dropdown-menu snapshot-menu" role="menu" >
    <li><a tabindex="-1" href="#" data-channel="map.zoom.toLayer">Zoom to Layer</a></li>
    <li><a tabindex="-1" href="#" data-channel="timeline.menu.layer.show">Show Layer</a></li>
    <li><a tabindex="-1" href="#" data-channel="timeline.menu.layer.hide">Hide Layer</a></li>
    <li><a tabindex="-1" href="#" data-channel="timeline.menu.layer.delete">Delete Layer</a></li>
    <li><a tabindex="-1" href="#" data-channel="query.stop">Stop Query</a></li>
    <li><a tabindex="-1" href="#" data-channel="export.picker.open">Export Layer</a></li>
</ul>