<a href="#" id="queryToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Query Tool">
    <span class="glyphicon glyphicon-screenshot"></span>
</a>