div[data-aura-component='tools/locator'] .typeahead.dropdown-menu{
    /*higher than the basemap component and the zoom component*/
    /*last time tested, it was still under basemap component, so I made the item list shorter...*/
    z-index: 1015;
}

div[data-aura-component='tools/locator'] #locator{
	width: 450px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

/*Cursor values have to be added to the parent so that disabled buttons can have the desired behavior.
When active, This will be not be applied until the button is disabled again.*/
div[data-aura-component='tools/locator'] .input-group-btn{
	cursor: not-allowed;
}