<div id="locator" class="input-group" data-toggle="tooltip" data-placement="bottom" data-title="Locator Tool">
    <input type="text" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
        	Go 
        	<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </span>
</div>