<div id="locator" class="input-group">
    <input type="text" class="form-control bs-tooltip" data-placement="bottom" title="Search by Location">
    <span class="input-group-btn">
        <button class="btn btn-default-text" type="button">
        	Go 
        	<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </span>
</div>