<div id="locator" class="input-group" data-placement="bottom" data-title="Search Tool">
    <input type="text" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default-text" type="button">
        	Go 
        	<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </span>
</div>