div[data-aura-component='tools/locator'] .typeahead.dropdown-menu{
    /*higher than the basemap component and the zoom component*/
    /*last time tested, it was still under basemap component, so I made the item list shorter...*/
    z-index: 1015;
}

div[data-aura-component='tools/locator'] #locator{
	width: 450px;
}

/*Cursor values have to be added to the parent so that disabled buttons can have the desired behavior.
When active, This will be not be applied until the button is disabled again.*/
div[data-aura-component='tools/locator'] .input-group-btn{
	cursor: not-allowed;
}

.locator.info-win-dialog{
	font-size: .8em;
}

.locator.info-win-dialog .title{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-left: 30px;
}

.locator.info-win-dialog .content{
	position: relative;
	margin-left: 15px;
	width: 170px;
	/*height: 135px;*/
}