<!--<div class="col-md-12">-->
    {{#each layers}}
        <div class="layer-option row">
            <div class="col-md-1 data-checkbox">
                <input type="checkbox" value="{{this.layerId}}">
            </div>
            <div class="col-md-5 data-name">{{this.layerName}}</div>
            <div class="col-md-4 data-source">{{this.dataSource}}</div>
            <div class="col-md-2 data-count text-right">{{this.count}}</div>
        </div>
    {{/each}}
<!--</div>-->
