<div class="modal fade" id="export-picker-modal" tabindex="-1" role="dialog" aria-labelledby="export-picker-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Export</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7" id="options"></div>
                    <!--
                    <div class="col-md-7" id="scope">
                        <div>
                            <input id="exportSelected" type="checkbox"> Export selected features only
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary pull-right">Export</button>
                        <button type="cancel" class="btn btn-default-secondary  pull-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>