    {{#each layers}}
        <div class="layer-option row">
            <input type="checkbox" value="{{this.layerId}}" class="layer-checkbox">

            <div class="layer-name">
                <div class="text-by-checkbox">{{this.layerName}}</div>
            </div>
            <div class="layer-source">{{this.dataSource}}</div>
        </div>
    {{/each}}
