<tr>
	<td class="data-checkbox">
		<div class="input-group">
	      <span class="input-group-addon">
	      	<input name="exportOption" type="checkbox" value="{{channel}}">
	      </span>
	      <span class="input-group-addon"> {{label}}</span>
	    </div><!-- /input-group -->
	</td>
</tr>