div[data-aura-component='tools/export-picker'] #export-picker-modal .modal-dialog {
    margin: 5% auto;
    width: 600px;
}

div[data-aura-component='tools/export-picker'] #export-picker-simplified-modal .modal-dialog {
    margin: 5% auto;
    width: 800px;
}

div[data-aura-component='tools/export-picker'] {
    overflow-y: hidden;
}

div[data-aura-component='tools/export-picker'] .modal-body {
    padding: 0 0 0 0;
    height: 280px;
}

/*overwrite negative margin of default row class*/
div[data-aura-component='tools/export-picker'] .row {
    margin-left: 0;
    margin-right: 0;
}

/*TODO moveto export or remove?*/
div[data-aura-component='tools/export-picker'] .list-container{
    overflow: auto;
    max-height: 195px;
}

/**
 * Layers
 */
div[data-aura-component='tools/export-picker'] #layer-container {
    float: left;
    /*padding-left: 15px;*/
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
}

/*iv[data-aura-component='tools/export-picker'] #layer-options-container {
    border-right: 1px solid #E5E5E5;
}*/

/*div[data-aura-component='tools/export-picker'] #layer-options-container  input[type="checkbox"]{
    float: left;
    margin-top: 2px;
    width: 3px;
}*/

div[data-aura-component='tools/export-picker'] #layer-container .layer-checkbox {
    float: left;
    width: 18px
}
div[data-aura-component='tools/export-picker'] #layer-container .layer-name {
    float: left;
    padding-left: 15px;
    width: 260px;
    text-align: left;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div[data-aura-component='tools/export-picker'] #layer-container .layer-source {
    float: left;
    padding-left: 15px;
    width: 150px;
    text-align: left;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


div[data-aura-component='tools/export-picker'] #layer-container .record-count {
    float: left;
    padding-left: 15px;
    width: 110px;
    text-align: left;
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

div[data-aura-component='tools/export-picker'] #layer-options-header {
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
    border-bottom:1px solid #E5E5E5;
}
div[data-aura-component='tools/export-picker'] #layer-options {
    max-height: 243px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}
div[data-aura-component='tools/export-picker'] #layer-options .layer-option{
    padding-top: 8px;
}

/**
 * Exports
 */

div[data-aura-component='tools/export-picker'] #export-container {
    /*padding-left: 15px;*/
    width: 145px;
    float: left;
    position:absolute;
    opacity: 0;
    visibility: hidden;/*prevent clicks*/
    background-color: blue;
    left: 598px;
    z-index: 100;
}

div[data-aura-component='tools/export-picker'] #export-options-header {
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
    border-bottom:1px solid #E5E5E5;
}

div[data-aura-component='tools/export-picker'] #export-options {
    padding-top: 8px;
}

div[data-aura-component='tools/export-picker'] #export-options .radio{
    padding: 8px;
    margin: 0;
}

/**
 * Extra options
 */

div[data-aura-component='tools/export-picker'] #extra-export-container {
    float: left;
    padding-left: 15px;
    width: 440px;
}

div[data-aura-component='tools/export-picker'] .modal-footer {
    padding: 10px;
    border-top: 1px solid #E5E5E5;
}

