div[data-aura-component='tools/export-picker'] body.dialog-open .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  display: none;
}

div[data-aura-component='tools/export-picker'] .modal-backdrop.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

div[data-aura-component='tools/export-picker'] .modal-dialog {
    margin: 5% auto;
    width: 500px;
}

div[data-aura-component='tools/export-picker'] {
    overflow-y: hidden;
}

div[data-aura-component='tools/export-picker'] .modal-body {
    /*padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 10px;*/
    max-height: 280px;
    padding: 20px 10px;
}

div[data-aura-component='tools/export-picker'] .modal-footer {
  padding: 10px;
}

div[data-aura-component='tools/export-picker'] #options {
    border-right: 1px solid #f7f7f7;
}

div[data-aura-component='tools/export-picker'] #options,
div[data-aura-component='tools/export-picker'] #layers{
  overflow: auto;
  max-height: 200px;
}

div[data-aura-component='tools/export-picker'] #scope {
    padding-left: 25px;
}

div[data-aura-component='tools/export-picker'] #export-picker-modal .modal-body table {
  margin-bottom: 2px;
}

div[data-aura-component='tools/export-picker'] #export-picker-modal .modal-body table th,
div[data-aura-component='tools/export-picker'] #export-picker-modal .modal-body table td {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}

/*spacing between the checkbox options*/
div[data-aura-component='tools/export-picker'] #export-picker-modal .modal-body .data-checkbox {
    padding: 2px;
}