<ul id="datagrid-context-menu" class="dropdown-menu datagrid-context-menu" role="menu" >
    <li><a tabindex="-1" href="#" data-channel="map.zoom.toLayer">Zoom to Layer</a></li>
    <li><a tabindex="-1" href="#" data-channel="datagrid.record.menu.features.show">Show Layer</a></li>
    <li><a tabindex="-1" href="#" data-channel="datagrid.record.menu.features.hide">Hide Layer</a></li>
</ul>