<ul id="datagrid-context-menu" class="dropdown-menu datagrid-context-menu" role="menu" >
    <li><a tabindex="-1" href="#" data-channel="map.features.show" data-layerId="{{layerId}}" data-featureId="{{featureId}}">Show Feature</a></li>
    <li><a tabindex="-1" href="#" data-channel="map.features.hide" data-layerId="{{layerId}}" data-featureId="{{featureId}}">Hide Feature</a></li>
</ul>