<div id="datagridContainer" class="hidden">
    <div id="grid"></div>
    <div id="pager"></div>
    <!--<button type="button" class="close" data-dismiss="dialog" aria-hidden="true">&times;</button>-->
    <!--<div id="other-container"></div>-->
</div>

