div[data-aura-component='displays/datagrid'] #datagridContainer {
	width: 100%;
    height: 0px;
    bottom: 0;
    z-index: 1020;
	background-color: #ffffff;
    border-top: 1px solid #dddddd;
    position: relative;
}

div[data-aura-component='displays/datagrid'] #header {
    background-color: #F5F5F5;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: center;
    width: 100%;
    height: 42px;
    padding-top: 4px;
}

div[data-aura-component='displays/datagrid'] .searchField {
    width: 350px;
    position: absolute;
    left: 10px;
}

div[data-aura-component='displays/datagrid']  .searchField .btn-default-text {
    background-color: #396A92;
    border-color: #ccc;
    color: #fff;
}
div[data-aura-component='displays/datagrid']  .searchField .btn-default-text:hover {
    color: #fff;
    background-color: #848586;
}

div[data-aura-component='displays/datagrid'] .close {
    margin: 10px;
}

div[data-aura-component='displays/datagrid'] #grid {
    width: 100%;
    height: 260px;
}

div[data-aura-component='displays/datagrid'] #pager {
    height: 26px;
}

div[data-aura-component='displays/datagrid'] .slick-header-column {
    box-sizing: content-box; /** Keeps column re-sizing the same for headers/rows **/
    -moz-box-sizing: content-box;
    color: black;
    height: 18px;
    /*background: url(../../../libs/SlickGrid-master/images/header-columns-bg.gif) repeat-x center bottom;*/
    }
    div[data-aura-component='displays/datagrid'] .slick-header-column:hover {
        cursor: pointer;
        background: linear-gradient(to bottom, #f7f7f7 0%,#f7f7f7 50%,#e7e7e7 51%,#e7e7e7 100%); /* W3C */
        /*background: url(../../../libs/SlickGrid-master/images/header-columns-over-bg.gif) repeat-x center bottom;*/
    }
    div[data-aura-component='displays/datagrid'] .slick-sort-indicator {
        float:none;
        }
        div[data-aura-component='displays/datagrid'] .slick-sort-indicator-desc {
            background: url(../../../libs/SlickGrid-master/images/sort-desc.gif);
        }
        div[data-aura-component='displays/datagrid'] .slick-sort-indicator-asc {
            background: url(../../../libs/SlickGrid-master/images/sort-asc.gif);
        }

div[data-aura-component='displays/datagrid'] .slick-row:hover {
    background-color: #DEF2FF;
}
div[data-aura-component='displays/datagrid'] .slick-cell a {
    color: #428bca;
}

div[data-aura-component='displays/datagrid'] .slick-cell.selected {
    background-color: #a6d5ff;
}

div[data-aura-component='displays/datagrid'] .hiddenFeature {
    color: #cecece;
}

div[data-aura-component='displays/datagrid'] #menu {
    position: absolute;
    z-index: 99999;
}

div[data-aura-component='displays/datagrid'] .slick-pager span.ui-state-highlight.ui-corner-all.ui-icon-container.ui-state-hover {
    background: #f0f0f0;
}
div[data-aura-component='displays/datagrid'] #test-area{
    width: 100%;
    height: 0;
    font-weight: bold;
    /*font-s*/
}