<a href="#" id="drawToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="right" data-title="Draw Tool">
    <span class="glyphicon glyphicon-pencil"></span>
</a>