<div class="btn-group-vertical" id="zoom">
    <a href="" type="button" class="btn btn-default-text btn-xs bs-tooltip zoom-in" data-placement="bottom" title="Zoom in">
    	<span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="" type="button" class="btn btn-default-text btn-xs bs-tooltip zoom-out" data-placement="bottom" title="Zoom out">
    	<span class="glyphicon glyphicon-minus"></span>
    </a>
</div>