div[data-aura-component='controls/zoom'] #zoom {
    position: relative;
    float: left;
    z-index: 990;
    top: 10px;
    left: 10px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}