<div class="btn-group-vertical" id="zoom">
    <a href="" type="button" class="btn btn-default-text btn-xs zoom-in" data-toggle="tooltip" data-placement="bottom" data-title="Zoom in">
    	<span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="" type="button" class="btn btn-default-text btn-xs zoom-out" data-toggle="tooltip" data-placement="bottom" data-title="Zoom out">
    	<span class="glyphicon glyphicon-minus"></span>
    </a>
</div>