<div class="btn-group-vertical" id="zoom">
    <a href="" type="button" class="btn btn-default-text btn-xs zoom-in" data-title="Zoom in" data-placement="right">
    	<span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="" type="button" class="btn btn-default-text btn-xs zoom-out" data-title="Zoom out" data-placement="right">
    	<span class="glyphicon glyphicon-minus"></span>
    </a>
</div>