div[data-aura-component='controls/zoom'] #zoom {
    position: absolute;
    z-index: 990;
    top: 45px;
    left: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}