<div id="displayArea" class="panel panel-default">
  <div class="panel-heading">Messages received:</div>
  <div class="panel-body">
  	<div id="showText" class="well">
  		<span class="badge">0</span> "show.text"
  		<button class="btn btn-primary btn-xs pull-right" type="button">Add 1</button>
  	</div>
	<div id="modalChannel" class="well">
		<span class="badge">0</span> "modal.display.success"
  		<button class="btn btn-primary btn-xs pull-right" type="button">Add 1</button>
	</div>
  </div>
  
</div>
