<div id="legendDialog" class="dialog hide">
    <div class="dialog-dialog">
        <div class="dialog-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="dialog" aria-hidden="true">&times;</button>
                <p class="dialog-title">Legend</p>
            </div>
            <div class="dialog-body">
            </div>
        </div>
    </div>
</div>