<div class="modal fade" id="clear-modal" tabindex="-1" role="dialog" aria-labelledby="clear-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Clear Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Hitting 'CLEAR' will clear all of your data, and you will not be able to get it back.</p>
                <div>
                    <button id="accept-clear" type="button" class="btn btn-warning">
                        <span>CLEAR</span>
                    </button>
                    <button id="cancel-clear" type="button" class="btn btn-default">
                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>