.mock-extension.info-win-dialog{
	font-size: .8em;
}

.mock-extension.info-win-dialog .infoDiv{
	float: left;
}

.mock-extension.info-win-dialog .exportFeature{
	width: auto;
	height: auto;
	vertical-align: top;
	text-align: center;
}

.mock-extension .exportFeature select{
    clear:left;
    height: 30px;
    width: 105px;
    font-size: 12px;
    margin-top: 5px;
    color: #000000;
}

.mock-extension .exportFeature .btn{
    margin-top: 5px;
}

.mock-extension.info-win-dialog .title{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-left: 30px;
}

.mock-extension.info-win-dialog .content{
	position: relative;
	margin-left: 15px;
	width: 500px;
	height: 135px;
}

.mock-extension.info-win-dialog .imgDiv{
	float: left;
	width: 80px;
	height: auto;
	vertical-align: top;
	text-align: center;
	padding-bottom: 5px;
	margin-left: 10px;
}

.mock-extension.info-win-dialog img{
	width: 78px;
	height: 78px;
}

.mock-extension.info-win-dialog .tableDiv{
	float: right;
	vertical-align: top;
	margin-left: 12px;
	height: 133px;
	width: 375px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 0px solid lightgray;
}

.mock-extension.info-win-dialog table.table{
	margin-bottom: 0px;
}

.mock-extension.info-win-dialog table.table td{
	padding: 5px;
}