<span id="HistoryLogIcon" class="glyphicon glyphicon-bell"></span>

<div id="HistoryLogDialog" class="dialog fade" >
    <div class="dialog-dialog">
        <div class="dialog-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="dialog" aria-hidden="true">&times;</button>
                <p class="dialog-title">History Log</p>
            </div>
            <div class="dialog-body">
                <p>
                    No history
                </p>
            </div>
        </div>
    </div>
</div>