div[data-aura-component='displays/label'] #labelContainer {
    display: none;
    position: absolute;
    left: 50px;
    top: 55px;
}
div[data-aura-component='displays/label'] #labelContainer .dialog-dialog{
    width: 400px;
    position: absolute;
    z-index: 2000;
    margin: 0;
    opacity: 0.80;
}
div[data-aura-component='displays/label'] #labelContainer .dialog-body {
    padding: 10px 10px 10px 10px;
}
div[data-aura-component='displays/label'] #labelContainer .dialog-header {
    background-color: #396A92;
    color: white;
}
div[data-aura-component='displays/label'] #labelContainer .dialog-body p{
    margin-top: 5px;
}
