<div class="text-center">
	<p>
		Unclustering the map with too many points can lead to slowing or the map crashing
		<br>
		Hiding your queries can mitigate this problem
	</p>	
	<br>
	<p><b>Please select "Cancel" if you have more than {{maxCount}} points on the map</b></p>
</div>