<div class="modal fade" id="data-history-modal" tabindex="-1" role="dialog" aria-labelledby="data-history-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Data History<span class="data-history-modal-back-to-list pull-right hidden"><span class="glyphicon glyphicon-arrow-left"></span></span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed data-history-list">
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Records</th>
                    <th>Actions</th>
                  </tr>
                  <tr>
                    <td class="expiration"></td>
                    <td class="data-name">My Query</td>
                    <td class="data-date">Mon 09/10/14 11:15am</td>
                    <td class="data-record-count">3,455</td>
                    <td class="data-actions">
                        <button type="button" class="btn btn-xs btn-default data-action-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button type="button" class="btn btn-xs btn-default data-action-restore"><span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-xs btn-default data-action-delete"><span class="glyphicon glyphicon-trash"></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="expiration"></td>  
                    <td class="data-name">Another Query</td>
                    <td class="data-date">Mon 09/10/14 09:56</td>
                    <td class="data-record-count">1,245</td>
                    <td class="data-actions">
                        <button type="button" class="btn btn-xs btn-default data-action-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button type="button" class="btn btn-xs btn-default data-action-restore"><span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-xs btn-default data-action-delete"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="expiration"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="left" title="This data expires tomorrow"></span></td>
                    <td class="data-name">Some Very Long Name For a Layer</td>
                    <td class="data-date">Mon 09/08/14 8:22am</td>
                    <td class="data-record-count">12,987</td>
                    <td class="data-actions">
                        <button type="button" class="btn btn-xs btn-default data-action-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button type="button" class="btn btn-xs btn-default data-action-restore"><span class="glyphicon glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-xs btn-default data-action-delete"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                  </tr>
                </table>
                <div class="data-history-detail-view hidden">
                    <div class="pull-right">
                        <img src="http://www.adventistdirectory.org/images2012/map-world.png" width="200">
                        <span class="data-actions">
                            <button type="button" class="btn btn-default data-action-info"><span class="glyphicon glyphicon-info-sign"></span></button>
                            <button type="button" class="btn btn-default data-action-restore"><span class="glyphicon glyphicon-plus"></span></button>
                            <button type="button" class="btn btn-default data-action-delete"><span class="glyphicon glyphicon-trash"></span></button>
                        </span>
                    </div>
                    <div class="meta">
                        <span>{queryName}</span>
                        <span>{datasetId}</span>
                        <span>{date}</span>
                        <span>{count}</span>
                        <span>{extent}</span>
                        <span>{createdOn}</span>
                        <span>{dataService}</span>
                        <span>{justification}</span>
                        <span>{rawQuery}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div