<div class="modal fade" id="data-history-modal" tabindex="-1" role="dialog" aria-labelledby="data-history-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Data History</p>
            </div>
            <div class="modal-body">
                <div class="data-history-summary-list-container">
                    <table class="table table-condensed data-history-headers">
                        <tr>
                            <th class="expiration"></th>
                            <th class="data-name">Name</th>
                            <th class="data-source">Source</th>
                            <th class="data-date">Date</th>
                            <th class="data-record-count">Records</th>
                            <th class="data-actions">Actions</th>
                        </tr>
                    </table>
                    <div class="data-history-list-container">
                        <table class="table table-condensed data-history-list">
                        </table>
                        <p class="noDataLabel">No Data</p>
                    </div>
                </div>
                <div class="data-history-detail-view hidden">
                </div>
            </div>
        </div>
    </div>
</div>
