body.dialog-open .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  display: none;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-backdrop.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-dialog {
    margin: 15% auto;
    width: 680px;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-footer {
    text-align:center;
}
div[data-aura-component='tools/data-history'] #data-history-modal {
    overflow-y: hidden;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body {
    max-height: 280px;
    padding: 20px 10px;
}

div[data-aura-component='tools/data-history'] #data-history-modal .finiteHeight {
    height: 280px;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .data-history-detail-view  span {
    display: block;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .data-history-detail-view  span.data-actions {
    text-align: center;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .data-history-detail-view  img {
  padding-bottom: 1em;
}

div[data-aura-component='tools/data-history'] #data-history-modal .data-history-modal-back-to-list {
  padding-right: .5em;
}
div[data-aura-component='tools/data-history'] #data-history-modal .data-history-modal-back-to-list:hover {
  cursor: pointer;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body div.data-history-list-container {
  max-height: 198px;
  overflow: auto;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table {
  margin-bottom: 0px; 
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table th, 
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table td {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table .expiration {
  width: 25px;
  text-align: right;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table .data-name {
  width: 200px;
  text-align: left;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table .data-date {
  width: 170px;
  text-align: left;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table .data-record-count {
  width: 80px;
  text-align: right;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table .data-actions {
  width: 125px;
  text-align: center;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body table .data-actions button {
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 0.5px;
  padding-left: 5.5px;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .expiration span.glyphicon-time {
  color: #bd362f;
}

/* More Details View */
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .data-history-detail-view .left-container {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  float: left;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .data-history-detail-view .left-container .meta {
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
}

div[data-aura-component='tools/data-history'] #data-history-modal .data-history-detail-view .data-actions {
  margin-top: 10px;
  text-align: center;
}
div[data-aura-component='tools/data-history'] #data-history-modal .data-history-detail-view .data-actions button {
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body .data-history-detail-view .right-container {
  float: right;
}

div[data-aura-component='tools/data-history'] #data-history-modal .modal-body textarea.form-control {
  width: 350px;
  max-width: 350px;
  min-width: 350px;
  height: 246px;
  max-height: 246px;
  min-height: 246px;
}
div[data-aura-component='tools/data-history'] #data-history-modal .modal-body textarea.form-control {
  cursor: default;
}

div[data-aura-component='tools/data-history'] #data-history-modal .indent {
  padding-left: 10px;
}