<a href="#" id="legendToggleButton" type="button" class="btn btn-default-icon" data-toggle="tooltip" data-placement="bottom" data-title="Legend">
    <span class="glyphicon glyphicon-list-alt"></span>
</a>